<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
      <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
            integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
      <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
      <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  </head>
<body>
<div th:replace="fragments/header :: header"></div>
<h3> Welcome Page after successful Login</h3>
<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>
</form>
</body>
</html>